.App {
    // text-align: center;
    height: max-content;
    padding: 20px;
    margin: 0px 50px;
}
  


//list component


//list containers

// list pages
@import './pages/auth.scss';
@import './pages/catalog.scss';


